mixin table-tree(category,level = 1)
    each item,index in category
     - const prefix = Array(level + 1).join("-- ")
        tr 
            td 
                input(type="checkbox" name="id" value=item.id)
            td #{index+1}
            td 
                img(src= item.thumbnail, alt= item.title width="100px" height="auto")
            td #{prefix}#{item.title}
            td  
                input(type="number"
                    name="position"
                    style="width:60px;text-align:center"
                    min="1"
                    value=item.position
                    )
            td 
                if item.status == 'active'
                    a(
                        href="javascript:;" 
                        class="badge text-bg-success text-decoration-none"
                        data-status=item.status
                        data-id=item.id
                        button-change-status
                    ) Hoạt động
                else    
                    a(
                        href="javascript:;" 
                        class="badge text-bg-danger text-decoration-none"
                        data-status=item.status
                        data-id=item.id
                        button-change-status
                    ) Không hoạt động
            td 

                a(
                    href=`${prefixAdmin}/product-category/edit/${item.id}`
                    class="btn btn-warning btn-sm"
                ) Sửa

                button(
                class="btn btn-danger btn-sm ms-1"
                button-delete 
                data-id=item.id 
                ) Xóa
        if(item.children && item.children.length > 0)
         +table-tree(item.children,level + 1)