extends ../../layouts/defaults.pug
include ../../mixins/box-head.pug

block content
  .container.my-3
    include ../../partials/list-btn-users.pug
    +box-head("Danh sách bạn bè")

    .row(data-users-friend=user.id) 
      each user in users
        .col-4(user-id=user.id)
          div(class="box-user")
            div(class="inner-avatar")
              img(src=user.avatar ? user.avatar : "/images/avatar.png", alt=user.fullName)
              i(class="fa-solid fa-circle icon-status-online" status=user.statusOnline)
            div(class="inner-info")
              div(class="inner-name") #{user.fullName}
              div(class="inner-button")
                a(href=`/chat/${user.room_chat_id}` class="btn btn-sm btn-primary me-1" btn-send-message) Nhắn tin 
                button(class="btn btn-sm btn-secondary me-1" btn-delete-friend=user.id) Hủy kết bạn
                button(class="btn btn-sm btn-primary me-1 deleted-friend" btn-add-friend=user.id) Kết bạn




block script 
  script(src="/js/users.js")
